* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #001;
    --second-bg-color: #112;
    --text-color: #fff;
    --main-color: #00ffd5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.logo-text {
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    background: linear-gradient(to right, #00ffdd, #00ff0d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}


#menu-icon {
    display: none;
    font-size: 3.6rem;
    cursor: pointer;
    color: var(--main-color);
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s;
}

.nav-btn:hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.05);
}

/* home section */

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);
    gap: 4rem;
}

.home-content {
    flex: 1;
}

.home-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.3;
    background: linear-gradient(to right, #00ffdd, #00ff0d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-img img {
    width: 35vw;
    border: 3px solid var(--main-color);
    border-radius: 51% 49% 49% 51% / 49% 51% 51% 49%;
    animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
    0% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }

    35% {
        border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
    }

    65% {
        border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
    }

    100% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }
}